body {
    background-color: #eee;
}

table {
    width: 100%;
    text-align: center;
}

.table {
    background: white;
}

.formLogIn {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.formLogIn .formLogInHeading {
    margin-bottom: 10px;
}

.formLogIn .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.formLogIn .username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.formLogIn .password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.formLogIn .form-control:focus {
    z-index: 2;
}

.btn {
    margin: 5px;
}

.feedback {
    list-style:none;
    padding: 0;
    text-align: center;
}

.feedback li {
    display: inline-block;
}

.noneFound {
    display: inline-block;
}

.error {
    color: #e52525;
    font-weight: bold;
}

a {
    font-weight: bold;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}